.App{
  font-family: Georgia;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  flex-basis: auto;
}

hr{
  border-color: #ededed;
  border-style: solid;
  margin-top: 20px;
  margin-bottom: 20px;
}
