.App {
  display: flex;
  flex-direction: row;
  margin: 20px;
  font-family: Helvetica;
}

.Event{
  font-size: 80px;
  height: 400px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.Location{
  font-family: Courier;
  font-weight: 500;
  font-size: 21px;
  height: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
}

.Time{
  font-family: Courier;
  font-weight: 500;
  font-size: 21px;
  height: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 40px;
}
