.Button{
}

.button{
  background-color: transparent;
  font-size: 20px;
  color: grey;
  width: 207%;
  text-decoration: none;
  outline: 0;
  border: none;
  border-bottom: solid 1px;
  border-color: #cecece;
  padding: 10px;
}

.active{
  color: black;
  background-color: #cecece;
}
