.diaryBox{
  text-align: center;
}

.choose{
  display: flex;
  flex-direction: row;
  width: auto;
  margin-bottom: 20px;
}

.chooseDate{
  flex: 1;
  background-color: #ececec;
  border: none;
  font-size: 20px;
  outline: none;
}

.group{
  flex: 1;
  background-color: #ececec;
  border: none;
  font-size: 20px;
  font-family: monospace;
  outline: none;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.content{
   /* add shadow */
   padding: 20px;
   width: 70%;
   height: 50vh;
   background-color: white;
   font-size: 20px;
   vertical-align: top;
   border: none;
   outline: none;
   -webkit-box-shadow: 0px 0px 81px -4px rgba(179,177,179,1);
   -moz-box-shadow: 0px 0px 81px -4px rgba(179,177,179,1);
   box-shadow: 0px 0px 81px -4px rgba(179,177,179,1);
}

.titleBox{
  padding: 20px;
  width: 93%;
  height: 7vh;
  background-color: white;
  font-size: 25px;
  font-weight: bold;
  vertical-align: middle;
  border: none;
  margin-bottom: 20px;
  outline: none;
  -webkit-box-shadow: 0px 0px 81px -4px rgba(179,177,179,1);
  -moz-box-shadow: 0px 0px 81px -4px rgba(179,177,179,1);
  box-shadow: 0px 0px 81px -4px rgba(179,177,179,1);
}

/* both toolbar and editing space */
.wrapper-class{
  width: 100%;
}

/* editing space */
.editor-class{
  height: 35vh;
  background-color: white;
  -webkit-box-shadow: 0px 0px 81px -4px rgba(179,177,179,1);
  -moz-box-shadow: 0px 0px 81px -4px rgba(179,177,179,1);
  box-shadow: 0px 0px 81px -4px rgba(179,177,179,1);
}

.newEntry{
  display: none;
  font-family: monospace;
}

.showNew{
  display: block;
  background-color: grey;
  color: white;
}

.h1Entry{
  margin: 0;
  margin-bottom: 20px;
  font-family: monospace;
}

.submit{
  text-align: center;
}

.submitButton{
  background-color: black;
  font-size: 20px;
  color: white;
  padding: 5px;
  border: none;
  outline: none;
  margin-top: 5px;
  font-family: monospace;
}
