.favorites{
  display: flex;
  flex-direction: column;
}

.favoriteSentence{
  display: flex;
  flex-direction: row;
}

.favoriteCategory{
  flex: 2;
}

.favoriteThing{
  flex: 3;
}

.is{
  flex: 1;
  text-align: center;
}

.myFavorite{
  flex: 2;
  text-align: center;
}

.noOutline{
  outline: none;
}

.button{
  background-color: #ececec;
  border: none;
  outline: none;
}
